.footer {
    /* position: fixed; */
    border-radius: 15px;
    font-size: 3vh;
    text-align: center;
    bottom: 0;
    /* background: #72737d; */
}

.nav.footer ul {
  display: flex;
  justify-content: space-between; /* pushes items apart */
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

@media (max-width: 768px) {

    .footer {
        font-size: 2vh;
        
    }

    /* strong {
        font-size: 3vh;
    } */
}