.genericButton {
    background-color: #988185;
    border: none;
    border-radius: 15px;
    padding: 10px;

    font-size: 3vh;
    text-align: center;
    text-decoration: none;
}

.genericButton:hover {
    color: #555555;
}
