/* Thanks to W3Schools and Web Dev Simplified on YT for plenty of html/CSS support. */

* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
}

body {
    margin: 15px;
    background-color: #d1b794;
    margin-left: 100px;
    margin-right: 100px;
}

a {
    text-decoration: none;
}

.elementcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textcenter {
    text-align: center;
}

.roundedimage {
    border-radius: 25px;
}

.scaled {
    width: 50%;
}

.text-on-right {
    float: left;
    padding: 20px;
}

.aboutmepfp {
    width: 700px;
    left: 15;
}

/* Colors I like:
    - lightblue
    - #d1b794 (oatmeal) */
