.nav {
    /* background-color: #70798f; */
    display: flex;
    justify-content: center;
    margin: auto;
    color: black;
    align-items: center;
    text-align: center;
}

.nav ul {
    padding: 10px;
    justify-content: center;
    text-align: center;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
}

.nav ul li {
    display: inline;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {

    .nav ul li {
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    p {
        font-size: 2vh;
    }
}

.nav li.active {
    background-color: #6072f4;
    border-radius: 15px;
}

.nav li:hover {
    color: #CCCCCC;
}

.nav a {
    color: inherit;
    font-size: 4vh;
    text-decoration: none;
    padding: 0.25rem;
}
