.nolnButton {
    background-color: #6072f4;
    border: none;
    border-radius: 15px;
    padding: 10px;

    font-size: 4vh;
    text-align: center;
    text-decoration: none;
}

.nolnButton:hover {
    color: #FFFFFF;
}
