/* Thanks to W3Schools for plenty of html/CSS support. */

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: bisque;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }