/* Thanks to W3Schools for plenty of html/CSS support. */

h1, h2, p, li, footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    background-color: lightblue;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }