/* Thanks to W3Schools for plenty of html/CSS support. */

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h2, p, li, a, footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #d1b794;
}

.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.textcenter {
    text-align: center;
}

.roundedimage {
    border-radius: 25px;
}

.scaled {
    width: 50%;
}

.text-on-right {
    float:left;
}

#bodytext {
    margin-left: 50px;
    margin-right: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align:center;
    padding: 25px;
}

nav li {
    display: inline;
    width: 60px;
    font-size: 30px;
}

/* Colors I like:
    - lightblue
    - #d1b794 (oatmeal) */