/* Thanks to W3Schools and Web Dev Simplified on YT for plenty of html/CSS support. */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import "tailwindcss";

* {
    font-family: 'Inter', sans-serif !important;
    /* --site-color: #cfd1dc;
    --accent-color: #b8b8bd; */
    --site-color: #000000;
    --accent-color: #525252;
    --hover-color: #CCCCCC
}

h1 {
    text-align: left;
    font-size: 3.5rem;
}

h2 {
    text-align: left;
    font-size: 4vh;
    margin-top: 10px;
}

/* p {
    font-size: 3vh;
} */

body {
    margin: 15px;
    background-color: var(--site-color);
    margin-left: 8%;
    margin-right: 8%;
    height: 100vh;
    color: white
}

a {
    text-decoration: none;
    color:white;
}

a:hover {
    color: var(--hover-color)
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 3px solid #AAAAAA;
    border-radius: 3px;
}

img {
  box-shadow: 0 8px 24px rgba(30, 30, 30, 0.1);
}

.elementcenter {
    display: block;
    margin: auto;
}

.centerhorizontallist {
    list-style-type: none; 
    display: flex;
    margin: 0; 
    padding: 0; 
    justify-content: center;
    align-items: baseline;
}


.roundedimage {
    border-radius: 50px;
    padding: 5px;
}

.width85 {
    width: 85vh;
}

.banner {
    width: 80vh;
}


@media (max-width: 768px) {
    .width75, .width85, .banner, .aboutmepfp {
        width: 90%;
        margin: auto;
    }

    .resume {
        height: 50vh;
    }
}

.languagelogo {
    border-radius: 20px;
    margin-top: 15px; 
    padding: 0; 
}

/* .divSoup {
    background-color: #90929c;
    padding: 15px;   
    border-radius: 15px;
} */

/* Colors I like:
    - lightblue
    - #d1b794 (oatmeal) 
    - #90929c (light gray)
    - #787b87 (darkish gray)
    - #474950 (darker gray) */
