/* Thanks to W3Schools and Web Dev Simplified on YT for plenty of html/CSS support. */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import "tailwindcss";

* {
    font-family: 'Inter', sans-serif !important;
    --site-color: #000000;
    --accent-color: #525252;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 4vh;
    margin-top: 10px;
}

/* p {
    font-size: 3vh;
} */


body {
    margin: 15px;
    background-color: var(--site-color);
    margin-left: 8%;
    margin-right: 8%;
    height: 100vh;
    color: white
}

a {
    text-decoration: none;
    color:white;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 3px solid #AAAAAA;
    border-radius: 3px;
}

.resume {
    width: 50vw;
}

.short-text {
    display: none;
}
/* By default, show the long version */
.long-text {
    display: inline; 
}

@media (max-width: 640px) { 

    .resume {
        width: 90vw;
    }

    /* Hide the long version */
    .long-text {
        display: none;
    }
    /* Show the short version */
    .short-text {
        display: inline;
    }

    .aboutmepfp {
        display:none
    }
}
/* Colors I like:
    - lightblue
    - #d1b794 (oatmeal) 
    - #90929c (light gray)
    - #787b87 (darkish gray)
    - #474950 (darker gray) */
