.nav {
    /* background-color: #70798f; */
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
    align-items: center;
    text-align: center;
}

.nav ul {
    padding: 10px;
    justify-content: center;
    text-align: center;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    /* gap: 0.5rem; */
}

.nav ul li {
    display: inline;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {

    .nav ul li {
        padding: 0px;
        width: 100%;
    }

    p {
        font-size: 2vh;
    }

    h1 {
        font-size: 3.5vh;
    }
}

.nav li.active {
    /* background-color: #a6a2a2; */
    border-radius: 15px;
    color: #102BEF;
    text-decoration:underline;
    text-decoration-thickness: 7px;
}

.nav li:hover {
    color: #4f63f4;
}

.nav a {
    color: inherit;
    font-size: 4vh;
    text-decoration: none;
    padding: 0.25rem;
}
