.nav {
    /* background-color: #70798f; */
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
    align-items: center;
    text-align: center;
}

.nav ul {
    padding: 10px;
    justify-content: center;
    text-align: center;
    margin: 0;
    list-style: none;
    display: flex;
}

.nav ul li {
    padding: clamp(5px, 1.5vw, 10px);
    text-align: center;
    min-width: 0; 
    /* Allows the item to shrink below the content size, if necessary */
    flex-shrink: 1;
}

@media (max-width: 768px) {

    p {
        font-size: 2vh;
    }

    h1 {
        font-size: 3.5vh;
    }
}

.nav li.active {
    /* background-color: #a6a2a2; */
    border-radius: 15px;
    color: #102BEF;
    text-decoration:underline;
    text-decoration-thickness: 7px;
}

.nav li:hover {
    color: #4f63f4;
}

.nav a {
    color: inherit;
    font-size: 2rem;
    text-decoration: none;
    padding: clamp(0.1rem, 0.5vw, 0.25rem) clamp(0.25rem, 1vw, 0.5rem);
}
