.nolnButton {
    /* background-color: #cfd1dc; */
    border: none;
    border-radius: 15px;
    border: none;
    margin: 15 auto;
    
    font-size: 5vh;
    text-align: center;
    text-decoration: none;
}

.nolnButton:hover {
    color: #4f63f4;
    cursor:pointer;
}

@media (max-width: 768px) {

    h1, b {
        font-size: 3.5vh;
    }
}
