.nolnButton {
    border: none;
    margin: 15 auto;
    
    font-size: 3vh;
    text-align: left;
    text-decoration: none;
}

.nolnButton:hover {
    color: #4f63f4;
    cursor:pointer;
}

@media (max-width: 768px) {

    h1, b {
        font-size: 3.5vh;
    }
}
