/* Thanks to W3Schools and Web Dev Simplified on YT for plenty of html/CSS support. */

* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
}

body {
    margin: 15px;
    background-color: #d1b794;
}

a {
    text-decoration: none;
}

.nav {
    /* background-color: #70798f; */
    display: flex;
    justify-content: center;
    margin: auto;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav ul {
    padding: 10px;
    text-align: center;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav li {
    padding: 10px;
}

.nav li.active {
    background-color: #988185;
    border-radius: 15px;
}

.nav li:hover {
    color: #555555;
}

.nav a {
    color: inherit;
    font-size: 30px;
    text-decoration: none;
    padding: 0.25rem;
}

.footer {
    /* position: fixed; */
    text-align: center;
    bottom: 0;
}

.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textcenter {
    text-align: center;
}

.roundedimage {
    border-radius: 25px;
}

.scaled {
    width: 50%;
}

.text-on-right {
    float: left;
    padding: 20px;
}

#bodytext {
    margin-left: 50px;
    margin-right: 50px;
}

#aboutmepfp {
    width: 30%;
    left: 15;
}

/* Colors I like:
    - lightblue
    - #d1b794 (oatmeal) */
